// 颜色
$c1: #d33;
$c2: #3091f2;
$c3: #f60;
$c4: #0c6;

// 尺寸
$md: 48px;
$lg: 60px;

.vue-switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 20px;
	line-height: 19px;
	border-radius: 20px;
	border: 1px solid #ccc;
	background-color: #ccc;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	overflow: hidden;

	span {
		position: absolute;
		font-size: 12px;
		left: 25px;
		color: #222;

		&.open {
			display: none;
		}

		&.close {
			display: inline;
		}
	}

	&::after {
		position: absolute;
		content: '';
		width: 16px;
		height: 16px;
		border-radius: 16px;
		background-color: #fff;
		left: 2px;
		top: 2px;
		cursor: pointer;
		transition: left 0.15s ease-in-out, width 0.15s ease-in-out, background-color 0.1s ease-in-out;
	}

	&:active {
		&::after {
			width: 24px;
		}
	}

	&.z-on {
		background-color: $c1;
		border-color: $c1;

		&.c-blue {
			background-color: $c2;
			border-color: $c2;
		}

		&.c-orange {
			background-color: $c3;
			border-color: $c3;
		}

		&.c-green {
			background-color: $c4;
			border-color: $c4;
		}

		span {
			color: #fff;
			left: 10px;

			&.open {
				display: inline;
			}

			&.close {
				display: none;
			}
		}

		&:active {
			&::after {
				left: 23px;
			}
		}

		&::after {
			left: 29px;
		}
	}

	&.s-lg {
		width: 60px;

		&.z-on {
			&:active {
				&::after {
					left: 35px;
				}
			}

			&::after {
				left: 41px;
			}
		}
	}

	&.s-sm {
		width: 38px;
		height: 12px;
		overflow: visible;

		span {
			display: none;
		}

		&::after {
			width: 20px;
			height: 20px;
			top: -4px;
			left: -1px;
			box-shadow: 0 1px 3px 0 #aaa;
		}

		&:active {
			&::after {
				width: 24px;
			}
		}

		&.z-on {
			background-color: lighten($c1, 40);
			border-color: lighten($c1, 40);

			&.c-blue {
				background-color: lighten($c2, 32);
				border-color: lighten($c2, 32);

				&::after {
					background-color: $c2;
					box-shadow: 0 1px 3px 0 lighten($c2, 25);
				}
			}

			&.c-orange {
				background-color: lighten($c3, 30);
				border-color: lighten($c3, 30);

				&::after {
					background-color: $c3;
					box-shadow: 0 1px 3px 0 lighten($c3, 25);
				}
			}

			&.c-green {
				background-color: lighten($c4, 45);
				border-color: lighten($c4, 45);

				&::after {
					background-color: $c4;
					box-shadow: 0 1px 3px 0 lighten($c4, 30);
				}
			}

			span {
				display: none;
			}

			&:active {
				&::after {
					width: 24px;
					left: 15px;
				}
			}

			&::after {
				left: 19px;
				background-color: $c1;
				box-shadow: 0 1px 3px 0 lighten($c1, 40);
			}

		}
	}
}
