.vue-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  line-height: 22px;
  border-radius: 22px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden; }
  .vue-switch span {
    position: absolute;
    font-size: 12px;
    left: 25px;
    color: #222; }
    .vue-switch span.open {
      display: none; }
    .vue-switch span.close {
      display: inline; }
  .vue-switch::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: #fff;
    left: 2px;
    top: 2px;
    cursor: pointer;
    -webkit-transition: left 0.2s ease-in-out,width 0.2s ease-in-out;
    transition: left 0.2s ease-in-out,width 0.2s ease-in-out; }
  .vue-switch:active::after {
    width: 24px; }
  .vue-switch.z-on {
    background-color: #d0000e;
    border-color: #d0000e; }
    .vue-switch.z-on.c-blue {
      background-color: #3091f2;
      border-color: #3091f2; }
    .vue-switch.z-on.c-orange {
      background-color: #f60;
      border-color: #f60; }
    .vue-switch.z-on.c-green {
      background-color: #0c6;
      border-color: #0c6; }
    .vue-switch.z-on span {
      color: #fff;
      left: 10px; }
      .vue-switch.z-on span.open {
        display: inline; }
      .vue-switch.z-on span.close {
        display: none; }
    .vue-switch.z-on:active::after {
      left: 23px; }
    .vue-switch.z-on::after {
      left: 29px; }
  .vue-switch.s-lg {
    width: 60px; }
    .vue-switch.s-lg.z-on:active::after {
      left: 35px; }
    .vue-switch.s-lg.z-on::after {
      left: 41px; }
